body {
    font-family: Tahoma;
    font-size: x-large;
}

.flex-parent {
    display: flex;
    width: 100%;
}

/*.flex-parent-wide {
    display: flex;
    width: 400px;
}
*/
.flex-parent-padded {
    display: flex;
    width: 100%;
    padding-top: .2mm;
    padding-bottom: .2mm;
}

.flex-child-left {
    flex: 1;
    text-align: left;
    font-size: x-large;
}

.flex-child-left-l {
    flex: 1;
    text-align: left;
    vertical-align: top;
    font-size: x-large;
}

.flex-child-left-l-150 {
    flex: none;
    text-align: left;
    vertical-align: top;
    font-size: x-large;
    width: 150px;
}

.flex-child-center {
    flex: 1;
    text-align: center;
    font-size: x-large;
}

.flex-child-center-l {
    flex: 1;
    text-align: center;
    font-size: x-large;
}

.flex-child-center-fl {
    flex: none;
    text-align: center;
    font-size: x-large;
    width: 355px;
}

.flex-child-center-fl-new {
    flex: none;
    text-align: center;
    font-size: x-large;
    width: 400px;
    font-weight: bold;
}

.flex-child-center-fl-wide {
    flex: auto;
    text-align: center;
    font-size: x-large;
    margin-left: -100px;
    margin-right: -100px;
}

.flex-child-center-70 {
    flex: none;
    text-align: center;
    width: 65px;
    font-size: x-large;
}

.flex-child-center-h {
    flex: 1;
    text-align: center;
    font-weight: bold;
    font-size: x-large;
}

.flex-child-center-h-70 {
    flex: none;
    text-align: center;
    width: 70px;
    font-weight: bold;
    font-size: x-large;
}

.flex-child-center-h-100 {
    flex: none;
    text-align: center;
    width: 100px;
    font-weight: bold;
    font-size: x-large;
}

.flex-child-center-h-150 {
    flex: none;
    text-align: center;
    font-weight: bold;
    width: 150px;
    font-size: x-large;
}

.flex-child-right-70 {
    flex: none;
    text-align: right;
    width: 70px;
    font-size: x-large;
}

.flex-child-right-100 {
    flex: none;
    text-align: right;
    width: 100px;
    font-size: x-large;
}

.flex-child-right {
    flex: 1;
    text-align: right;
    font-size: x-large;
}

.flex-child-right-l-150 {
    flex: none;
    text-align: right;
    font-size: x-large;
    width: 150px;
}

.flex-child-right-l-75 {
    flex: none;
    text-align: right;
    font-size: x-large;
    width: 75px;
}

#section-print {
    display: none;
}


@page {
    size: auto;
    size: 8.5in 11in;
    width: 8.5in;
    height: 11in;
    margin-left: 8mm;
    margin-right: 8mm;
    margin-top: 8mm;
    margin-bottom: 8mm;
}

.flex-divider {
    display: flex;
    width: 100%;
    vertical-align: top;
    margin-top: -5mm;
}

* {
    overflow: visible !important;
}

.page {
    page-break-after: always;
}

#section-print {
    display: block;
    left: 0;
    top: 0;
}

#section-table {
    display: none;
}

#page-number {
    display: table-footer-group;
}

#page-number:after {
    font-family: Tahoma;
    font-size: x-large;
    counter-increment: page;
    content: "Page " counter(page) " of " counter(totalPages);
}
