<div id="section-table">
  <vex-page-layout>

    <vex-page-layout-header class="pb-16 flex flex-col items-start justify-center">
      <div [class.container]="layoutCtrl.value === 'boxed'" [class.px-gutter]="layoutCtrl.value === 'fullwidth'"
        class="w-full flex flex-col sm:flex-row justify-between">
        <div>
          <h1 class="title mt-0 mb-1">Products</h1>
          <vex-breadcrumbs [crumbs]="['Menu Tab Module', 'Administration',  'Products']"></vex-breadcrumbs>
        </div>
      </div>
    </vex-page-layout-header>

    <vex-page-layout-content [class.container]="layoutCtrl.value === 'boxed'"
      [class.px-gutter]="layoutCtrl.value === 'fullwidth'" class="-mt-6">

      <div class="card overflow-auto -mt-16" style="overflow: hidden !important;">
        <div class="bg-app-bar px-6 h-16 border-b sticky left-0 flex items-center">
          <h2
            class="title my-0 ltr:pr-4 rtl:pl-4 ltr:mr-4 rtl:ml-4 ltr:border-r rtl:border-l hidden sm:block flex-none">
            <span *ngIf="selection.isEmpty()">Products</span>
            <span *ngIf="selection.hasValue()">{{ selection.selected.length }}
              Products<span *ngIf="selection.selected.length > 1">s</span> selected</span>
          </h2>

          <div *ngIf="selection.hasValue()" class="mr-4 pr-4 border-r flex-none">
            <button (click)="deleteProducts(selection.selected)" color="primary" mat-icon-button
              matTooltip="Delete selected" type="button">
              <mat-icon svgIcon="mat:delete"></mat-icon>
            </button>

            <button color="primary" mat-icon-button matTooltip="Archive" type="button">
              <mat-icon svgIcon="mat:folder"></mat-icon>
            </button>
          </div>

          <div
            class="bg-foreground rounded-full border px-4 max-w-[300px] flex-auto flex items-center border border-gray-300">
            <mat-icon class="icon-sm text-secondary" svgIcon="mat:search"></mat-icon>
            <input [formControl]="searchCtrl" class="px-4 py-2 border-0 outline-none w-full bg-transparent"
              placeholder="Search..." type="search" (keyup.enter)="searchProducts()">
          </div>
          <span *ngIf="!!searchCtrl.value && searchCtrl.value.trim().length > 0">
            <button (click)="searchProducts()" class="ml-4 flex-none" color="primary" mat-mini-fab
              matTooltip="Search Products" type="button">
              <mat-icon svgIcon="mat:search"></mat-icon>
            </button>
          </span>
          <span class="flex-1"></span>
          <mat-slide-toggle color="primary" labelPosition="before" (change)="showInactiveProducts()"
            [(ngModel)]="isShowInactive">Show Inactive</mat-slide-toggle>

          <button [matMenuTriggerFor]="columnFilterMenu" class="ml-4 flex-none" mat-icon-button
            matTooltip="Filter Columns" type="button">
            <mat-icon svgIcon="mat:filter_list"></mat-icon>
          </button>

          <button *ngIf="access === userPermission.FullAccess" (click)="createProduct()" class="ml-4 flex-none"
            color="primary" mat-mini-fab matTooltip="Add Product" type="button">
            <mat-icon svgIcon="mat:add"></mat-icon>
          </button>
        </div>

        <mat-table @stagger [dataSource]="dataSource" class="w-full" mat-table matSort
          (matSortChange)="sortDataMatTable($event)">
          <!-- Image Column -->
          <ng-container *ngFor="let column of columns; trackBy: trackByProperty">
            <ng-container *ngIf="column.type === 'image' && column.property !=='imageUrl'"
              [matColumnDef]="column.property">
              <th *matHeaderCellDef class="uppercase" mat-header-cell mat-sort-header> {{ column.label }}</th>
              <td *matCellDef="let row" [ngClass]="column.cssClasses" mat-cell align="center">
                <ng-container>
                  <mat-icon *ngIf="row[column.property] === true" svgIcon="mat:check"></mat-icon>
                </ng-container>
              </td>
            </ng-container>
          </ng-container>

          <!-- Image URL Column -->
          <ng-container matColumnDef="imageUrl">
            <th *matHeaderCellDef mat-header-cell></th>
            <td *matCellDef="let row" class="tooltip-img w-16 min-w-16 pr-0" mat-cell>
              <img [src]="row['imageUrl']" (error)="setDefaultImage($event.target)" class="avatar h-16 w-16">
              <table class="tooltiptext-img" style="min-width: 1000px important;">
                <th class="overflow-ellipsis-wide h-8" title="{{ row.partNumber }} - {{ row.partDescription }}">
                  <span>{{ row.partNumber }} - {{ row.partDescription }}</span>
                </th>
                <tr>
                  <td><img [src]="row['imageUrl']" (error)="setDefaultImage($event.target)" class="align-middle"></td>
                </tr>
              </table>
            </td>
          </ng-container>

          <!-- Checkbox Column -->
          <ng-container matColumnDef="checkbox">
            <th *matHeaderCellDef mat-header-cell>
              <mat-checkbox (change)="$event ? masterToggle() : null"
                [checked]="selection.hasValue() && isAllSelected()"
                [indeterminate]="selection.hasValue() && !isAllSelected()" color="primary">
              </mat-checkbox>
            </th>
            <td *matCellDef="let row" class="w-4" mat-cell>
              <mat-checkbox (change)="$event ? selection.toggle(row) : null" (click)="$event.stopPropagation()"
                [checked]="selection.isSelected(row)" color="primary">
              </mat-checkbox>
            </td>
          </ng-container>

          <!-- Text Columns -->
          <ng-container *ngFor="let column of columns; trackBy: trackByProperty">
            <ng-container
              *ngIf="column.type === 'text' && (column.property !== 'partDescription' && column.property !== 'partsLinks' && column.property !== 'oeMs' && column.property !== 'vendorPartNumbers')"
              [matColumnDef]="column.property">
              <th *matHeaderCellDef class="uppercase" mat-header-cell mat-sort-header> {{ column.label }}</th>
              <td *matCellDef="let row" [ngClass]="column.cssClasses" mat-cell>
                <ng-container *ngIf="column.property !== 'isActive'">{{ row[column.property] }} </ng-container>
                <ng-container *ngIf="column.property === 'isActive' && row.isActive">Active</ng-container>
                <ng-container *ngIf="column.property === 'isActive' && !row.isActive">Inactive</ng-container>
              </td>
            </ng-container>
            <ng-container *ngIf="column.type === 'text' && column.property === 'partDescription'"
              [matColumnDef]="column.property">
              <th *matHeaderCellDef class="uppercase" mat-header-cell mat-sort-header> {{ column.label }}</th>
              <td *matCellDef="let row" class="overflow-wrap-wide" title="{{ row[column.property] }}" mat-cell>{{
                row[column.property] }}</td>
            </ng-container>
            <ng-container
              *ngIf="column.type === 'text' && (column.property === 'partsLinks' || column.property === 'oeMs' || column.property === 'vendorPartNumbers')"
              [matColumnDef]="column.property">
              <th *matHeaderCellDef class="uppercase" mat-header-cell mat-sort-header> {{ column.label }}</th>
              <td *matCellDef="let row" class="overflow-wrap-semi" title="{{ row[column.property] }}" mat-cell>{{
                row[column.property] }}</td>
            </ng-container>
          </ng-container>

          <!-- Action Column -->
          <ng-container matColumnDef="actions">
            <th *matHeaderCellDef mat-header-cell mat-sort-header>ACTION</th>
            <td *matCellDef="let row" class="w-10 text-secondary" mat-cell>
              <button *ngIf="access === userPermission.FullAccess" (click)="copyProduct($event, row)"
                style="margin-left: -15px; margin-right: 5px;">
                <mat-icon svgIcon="mat:file_copy"></mat-icon>
              </button>
              <button *ngIf="access === userPermission.FullAccess" (click)="printProduct($event, row)"
                style="margin-left: 5px; margin-right: 5px;">
                <mat-icon svgIcon="mat:print"></mat-icon>
              </button>
              <button *ngIf="access === userPermission.FullAccess" (click)="deleteProduct($event, row)"
                style="margin-left: 5px;">
                <mat-icon svgIcon="mat:delete"></mat-icon>
              </button>
            </td>
          </ng-container>

          <tr *matHeaderRowDef="visibleColumns" mat-header-row></tr>
          <tr (click)="updateProduct(row)" *matRowDef="let row; columns: visibleColumns;" @fadeInUp
            class="hover:bg-hover trans-ease-out cursor-pointer" [ngClass]="row.isActive === false ? 'inactiveRow' : ''"
            mat-row></tr>
        </mat-table>
        <mat-paginator style="height: 1px;" [pageSizeOptions]="pageSizeOptions" [pageSize]="pageSize"
          class="sticky left-0"></mat-paginator>
        <mat-paginator [pageSize]="pageSize" [pageIndex]="pageIndex" [pageSizeOptions]="pageSizeOptions"
          class="sticky left-0" [length]="dataCount" [showFirstLastButtons]="true"
          (page)="onPaginatorClicked($event)"></mat-paginator>
      </div>
    </vex-page-layout-content>
  </vex-page-layout>
  <mat-menu #columnFilterMenu="matMenu" xPosition="before" yPosition="below">
    <button (click)="toggleColumnVisibility(column, $event)" *ngFor="let column of columns"
      class="checkbox-item mat-menu-item">
      <mat-checkbox (click)="$event.stopPropagation()" [(ngModel)]="column.visible" color="primary">
        {{ column.label }}
      </mat-checkbox>
    </button>
  </mat-menu>
</div>

<body id="section-print">
  <style>
    #page {
      size: auto;
      size: 4in 2.5in;
      margin-left: 2mm;
      margin-right: 2mm;
      margin-top: 0mm;
      margin-bottom: 0mm;
    }
  </style>
  <div id="page" *ngFor="let report of data">
    <div id="page-container">
      <div id="content-wrap">
        <div *ngIf="report !== undefined">
          <div class="flex-parent">
            <div class="flex-child-left-title">PNUM&nbsp;
              <span style="font-size: xx-large; font-weight: 700;">{{report.pNum}}</span>
            </div>
          </div>
          <div class="flex-parent">
            <ngx-barcode [bc-value]="report.pNum" [bc-height]="25" [bc-width]="1" [bc-margin-left]="10" [bc-display-value]="false"></ngx-barcode>
          </div>
          <div class="flex-parent">
            <div class="flex-child-left-small">{{report.description}}</div>
          </div>
          <div class="flex-parent">
            <div class="flex-child-left-title">PLINK&nbsp;
              <span style="font-size: x-large; font-weight: 500;">{{report.partsLink}}</span>
            </div>
          </div>
          <div class="flex-parent">
            <ngx-barcode [bc-value]="report.partsLink" [bc-height]="25" [bc-width]="1" [bc-margin-left]="10" [bc-display-value]="false"></ngx-barcode>
          </div>
        </div>
      </div>
    </div>
  </div>
</body>