<table>
    <thead>
        <tr>
            <td></td>
        </tr>
        <tr>
            <td>
                <div class="header-space">&nbsp;</div>
            </td>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>
                <div class="content">
                    <vex-print-invoice></vex-print-invoice>
                </div>
            </td>
        </tr>
    </tbody>
    <tfoot align="center">
        <tr align="center">
            <td align="center">
                <div align="center" class="footer-space">&nbsp;</div>
            </td>
        </tr>
    </tfoot>
</table>
<div align="center" class="footer" id="page-number"></div>