.dropdown {
  background: var(--background-foreground);
  border-bottom-left-radius: var(--border-radius);
  border-bottom-right-radius: var(--border-radius);
  box-shadow: var(--elevation-z4);
  max-width: 100vw;
  overflow: hidden;
  width: auto;
  @apply rounded;
}

.dropdown-header {
  @apply bg-primary shadow text-primary-contrast py-4 px-6;
}

.dropdown-heading {
  font: var(--font-title);
}

.dropdown-content {
  max-height: 600px; // 73px height of 1 notification * 4
  overflow-x: hidden;
  overflow-y: auto;
}

.dropdown-footer {
  background: var(--background-app-bar);
  border-top: 1px solid var(--foreground-divider);
  padding: var(--padding-8) var(--padding);
}

.notification {
  width: 400px;
  color: var(--text-color);
  padding: var(--padding-16) var(--padding);
  position: relative;
  text-decoration: none;
  transition: var(--trans-ease-out);
  //user-select: none;

  &:hover {
    background: var(--background-hover);

    .notification-label {
      @apply text-primary;
    }

    .notification-label-sm {
      @apply text-primary;
    }

    .notification-label-lg {
      @apply text-primary;
    }
  }

  &.read {
    opacity: 0.5;
  }
}

.notification-icon {
  margin-inline-end: var(--padding);
  transform: scale(1.5);
}

.notification-label {
  transition: inherit;
}

.notification-label-sm {
  transition: inherit;
  font-size: smaller;
}
.notification-label-lg {
  transition: inherit;
  font-size: large;
  padding-left: 20px;
}

.notification-label-r {
  transition: inherit;
  color: #AC000A;
}
.notification-description {
  color: var(--text-secondary);
  font: var(--font-caption);
}

.notification-chevron {
  color: var(--text-hint);
  font-size: 18px;
  height: 18px;
  width: 18px;
  transform: scale(1.5);
}

.notification + .notification {
  border-top: 1px solid var(--foreground-divider);
}

.note {
  border: 1px solid var(--foreground-divider);
  float: left; 
  width: 88%;
}
.flex-parent {
  display: flex;
  width: 100%;
  // border: 1px solid red;
}

.flex-child-left {
  flex: 1;
  text-align: left;
 // font-size: medium;
}

.flex-child-right {
  flex: 1;
  text-align: right;
  //font-size: medium;
  // border: 1px solid red;
}