<div class="w-full h-full bg-pattern flex flex-col items-center justify-center">
  <div class="topcorner">
    <span>
      <p style="display:inline-block; padding: 10px; font-size: large;"><a [routerLink]="['/login']">Login</a></p><span style="font-size: large;"> | </span>
      <p style="display:inline-block; padding: 10px; font-size: large;"><a [routerLink]="['/register']">Create Account</a></p>
    </span>
  </div>
  <div class="flex-parent-base">
    <div class="flex-child-left">
      <div class="flex-parent">
        <div class="flex-child-left">Perfect Fit West - Auto Body Parts</div>
        <div class="flex-child-left">Call us 310-956-4667</div>
      </div>
      <div class="flex-parent">
        <div class="flex-child-left">3383 Olive Ave. Signal Hill CA 90755</div>
        <div class="flex-child-left">Monday to Friday 8am to 5pm</div>
      </div>
      <div class="flex-parent">
        <div>
          <img src="assets/img/background-image.png" style="size: auto;">
        </div>
        <br />
        <div>
          <img src="assets/img/background-image.png" style="size: auto;">
        </div>
        
        
      </div>
      <div class="flex-parent">
        <div>
          <img src="assets/img/background-image.png" style="size: auto;">
        </div>
        <br />
        <div>
          <img src="assets/img/background-image.png" style="size: auto;">
        </div>
        
        
      </div>
    </div>
    
  </div>
  <div class="flex-parent">
    <div class="flex-child-center">Create your account today to access our catalog 24/7</div>
  </div>
</div>