.flex-parent {
  display: flex;
  width: 100%;
  // border: 2px solid red;
}

.flex-child-left {
  flex: 1;text-align: left;
  // border: 1px solid blue;
  //margin: 3px;
  //font-size: large;
}

.flex-child-center {
  flex: 1; text-align: center;
  // border: 1px solid green;
  //margin: 3px;
  
  //font-size: large;
}

.flex-child-right {
  flex: 1; text-align: right;
  // border: 1px solid violet;
  //margin: 3px;
  //font-size: large;
}

.flex-child-left-250 {
  flex: none; text-align: left; width: 250px;
  //border: 1px solid blue;
  //margin: 3px;
  
}

.flex-child-left-200 {
  flex: none; text-align: left; width: 200px;
  //border: 1px solid blue;
  //margin: 3px;
  
}

.flex-child-center-100 {
  flex: none; text-align: center; width: 100px;
  //border: 1px solid green;
  //margin: 3px;
  
}

.flex-child-right-100 {
  flex: none; text-align: right; width: 100px;
  //border: 1px solid violet;
  //margin: 3px;
  text-align: right; width: 100px;
}

//---------------------------------------------------------------------------------------------------------------------------------------

.flex-child-left-l {
  flex: 1;
  //border: 1px solid blue;
  //margin: 3px;
  text-align: left;
  vertical-align: top;
  font-size: large;
}

.flex-child-left-l-150 {
  flex: none;
  text-align: left;
  vertical-align: top;
  font-size: large;
  width: 150px;
  // border: 1px solid blueviolet;
}

.flex-child-center-l {
  flex: 1;
  text-align: center;
  font-size: large;
}

.flex-child-center-fl {
  flex: none;
  text-align: center;
  font-size: large;
  width: 355px;
}

.flex-child-center-70 {
  flex: none;
  text-align: center;
  width: 65px;
  font-size: large;
}

.flex-child-center-h {
  flex: 1;
  text-align: center;
  //width: 330px;
  font-weight: bold;
  font-size: large;
}

.flex-child-center-h-70 {
  flex: none;
  text-align: center;
  width: 65px;
  font-weight: bold;
  font-size: large;
}

.flex-child-center-h-150 {
  flex: none;
  text-align: center;
  font-weight: bold;
  width: 150px;
  // border: 1px solid blueviolet;
  font-size: large;
}

.flex-child-right-70 {
  flex: none;
  text-align: right;
  width: 70px;
  font-size: large;
}

.flex-child-left-330 {
  flex: none;
  text-align: left;
  width: 330px;
  font-size: large;
}

.flex-child-right-l-100 {
  flex: none;
  //margin: 3px;
  text-align: right;
  font-size: large;
  width: 100px;
}

.flex-child-right-l-75 {
  flex: none;
  //margin: 3px;
  text-align: right;
  font-size: large;
  width: 75px;
}

#section-print {
  display: none;
  //display: block;
}

#page {
  size: auto;
  size: 8.5in 11in;
  margin-top: 20px;
  page-break-after: always;
}

/* print styles */
@media print {
  #page-container {
    position: relative;
    min-height: 97vh;
    // border: 1px solid black;
  }
  
  #content-wrap {
    padding-bottom: 2rem;    /* Footer height */
    // border: 1px solid aquamarine;
  }
  
  #footer {
    text-align: right;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 2rem;            /* Footer height */
    // border: 1px solid gray;
  }
  
  #page {
    size: auto;
    size: 8.5in 11in;
    margin-top: 20px;
    page-break-after: always;
  }

  .flex-parent-gray {
    display: flex; width: 100%;
  }

  @page {
    size: auto;
    size: 8.5in 11in;
    margin-left: 8mm;
    margin-right: 8mm;
    margin-top: 8mm;
    margin-bottom: 20mm;
  }

  * {
    overflow: visible !important;
  }

  #section-print {
    display: block;
    left: 0;
    top: 0;
  }

  #section-table {
    display: none;
  }
}

#page-number {
  display: table-footer-group;
}

#page-number:after {
  font-family: Tahoma;
  font-size: medium;
  counter-increment: page;
  content: "Page " counter(page) " of " counter(totalPages);
}
