<div>
  <form>
    <div class="bg-app-bar px-6 h-16 border-b sticky left-0 flex items-center">
      <h1 class="title my-0 ltr:pr-4 rtl:pl-4 ltr:mr-4 rtl:ml-4 ltr:border-r rtl:border-l hidden sm:block flex-none">
        <span>{{ customerName}}</span>
      </h1>
      <span class="flex-1"></span>
      <h1 class="title my-0 ltr:pr-4 rtl:pl-4 ltr:mr-4 rtl:ml-4 ltr:border-r rtl:border-l hidden sm:block flex-none">
        <span>Phone : {{ customerPhone }} | Email : {{ customerEmail }}</span>
      </h1>
    </div>
    <div class="bg-app-bar px-6 h-16 border-b sticky left-0 flex items-center">
      <mat-form-field class="flex-auto">
        <mat-label>Note</mat-label>
        <input [formControl]="customerNoteCtrl" matInput>
      </mat-form-field>
      <button *ngIf="access === userPermission.FullAccess" (click)="createNote()" class="ml-4 flex-none" color="primary"
        mat-mini-fab matTooltip="Add Note" type="button">
        <mat-icon svgIcon="mat:add"></mat-icon>
      </button>
    </div>
  </form>
  <table @stagger [dataSource]="dataSource" class="w-full" mat-table matSort (matSortChange)="sortDataMatTable($event)">
    <!-- Text Columns -->
    <ng-container *ngFor="let column of columns; trackBy: trackByProperty">
      <ng-container *ngIf="column.type === 'text'" [matColumnDef]="column.property">
        <th *matHeaderCellDef class="uppercase" mat-header-cell mat-sort-header> {{ column.label }}</th>
        <div *ngIf="column.property === 'createdDate'; else isNotDate">
          <td *matCellDef="let row" mat-cell>
            <ng-container> {{ formatDate(row[column.property]) }} </ng-container>
          </td>
        </div>
        <ng-template #isNotDate>
          <td *matCellDef="let row" mat-cell>
            <ng-container><span style="float: left;">{{ row[column.property] }}</span></ng-container>
          </td>
        </ng-template>
      </ng-container>
    </ng-container>

    <tr *matHeaderRowDef="visibleColumns" mat-header-row></tr>
    <tr *matRowDef="let row; columns: visibleColumns;" @fadeInUp class="hover:bg-hover trans-ease-out cursor-pointer"
      [ngClass]="row.isActive === false ? 'inactiveRow' : ''" mat-row></tr>
  </table>
  <div id="footer" *ngIf="access === userPermission.FullAccess">
    <div id="footerback">
      <button mat-button mat-dialog-close type="button">Close</button>
    </div>
  </div>
</div>